.App {
  text-align: center;
  background: linear-gradient( blue, #7af3ff);
  min-height: 100vh;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: 000;
  height: 50px;
  padding: 20px;
  color:  blue;
  
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




/*CLOUDS http://codepen.io/valentin/pen/fkdCG?editors=1100  credit to Valentin Radulescu */

 .clouds{

  margin: 0;
  padding: 0;
  overflow: hidden;
}

#cloud-intro{
  height: 100vh;
  background: url(http://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(http://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
              url(http://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
              url(http://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
	animation: wind 20s linear infinite;
}
@keyframes wind{
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }

}



